body {
    margin: 0%;
    padding: 0%;
    background-color: #ffffff;
    color: #35484F;
    font-family: Ubuntu;
}

.h-container {
    margin-top: 0;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.09);
    padding-bottom: 20px;
    padding-top: 20px;
}

.main-body {
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}

.donut-img {
    width: 300px;
    border-radius: 20px;
    margin-right: 10px;
}

.house-img {
    width: 300px;
    border-radius: 20px;
    margin-right: 10px;
}

.room-img {
    width: 300px;
    border-radius: 20px;
}

h1 {
    margin: 0%;
}

.p1 { 
    width: 60%;
}

.section1 {
    display: flex;
    justify-content: center;
}

